
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Soporte</title>
</head>
<body>
    @Html.Partial("_Header")
    <h1> ¡Contactanos!</h1>
    <div> 
        <section>
            <h2>Telefonos:</h2>
            
        </section>
        <section>
            <h2>Direccion:</h2>
        </section>
    </div>
</body>
</html>
